@import url(./../../assets/AdminBSBMaterialDesign-master/css/style.min.css);
.nav-header-brand:hover {
	text-decoration:none;
}
@media (max-width: 1168px) {
	.nav-header-brand {
		 margin-left:40px;
	}
}
.sidebar .user-info{
	background-image:none;
	height:100px;
	display:flex;
}
.sidebar .user-info .content{
	position: relative;
	min-height: 1px;
	display:flex;
}
.sidebar .user-info .image img{ 
max-width:80px;
max-height:80px;
}
.sidebar .user-info .content div{
	padding:0.1rem;
}
.sidebar .user-info .content .btn{
	height:100%;
	width:100%;
}
.sidebar .user-info .content .btn-group:hover{
	cursor:pointer;
}
.sidebar .user-info img{
	height:80px;
	width:auto;
}
.ac_massage {
	bottom: -20px;
	left: 0px;
	width: 100%;
	position: fixed;
	display: block;
	z-index: 1000;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	opacity: 0.9;
}
.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle)::before {
  content: '';
}
.search-bar.open{
	width: 100%;
	font-size: 16px;
	padding: 25px 60px 23px 56px;
	border: none;
	background-color: white;
	z-index:1001
}
.search-box{
	position: relative;
	top: -5px;
	width: calc(100% - 8em);
}
.pointer {cursor: pointer;}